/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;

}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root {
    --text_color: #758481;
    --font_size: 16px;
    --font_size_title: 48px;
    --font_family: 'Ubuntu';
    --bg: #0AA7B1;
    --text_bg1: #9AC731;
    --text_bg2: #AFED1F;
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
    background: #FBFDFF;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;
    z-index: 1;

}

.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 170px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    width: 45px;
    height: 40px;
    margin-right: 0px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    color: #000;
    order: 1;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 30px;
    width: 45px;
    height: 45px;
    z-index: 500;
}
header .close_btn img {
    width: 29px;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu .item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;    
    color: var(--text_color);
    position: relative;
    transition: color .2s linear;
    text-decoration: none;
    position: relative;
    transition: all .4s;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-right: 34px;
}

header .menu .item:last-child a {
    margin-right: 0;
}

header .menu .item>a:hover {
    color: #000;
}

header {
    padding: 39px 0 39px;
    position: fixed;
    z-index: 200;
    background: #fff;
    width: 100%;
}

header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_btn {
    display: flex;
    align-items: center;
}
.btn-entry {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--text_color);
    border-bottom: 1px solid transparent;
    transition: all .4s;
}
.btn-entry:hover {
    color: #000;
    border-bottom: 1px solid #000;
}
.btn-registration {
    width: 154px;
    height: 43px;
    border: 2px solid var(--text_bg1);
    border-radius: 38px;    
    margin-left: 23px;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: var(--text_bg1);
    transition: all .4s;
}
.btn-registration:hover {
    color: #FFFFFF;
    background: var(--text_bg1);
}
.block {
    scroll-margin-top: 90px;
}
.header_btn-mob {
    display: none;
}






.first-section {
    margin-top: 179px;
    margin-bottom: 35px;
}
.first-section .cont {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.first-section_info {
    margin-top: 123px;
    width: calc(100% - 792px);
}
.first-section_title {
    font-weight: 700;
    font-size: 58px;
    line-height: 100.9%;
    letter-spacing: -0.03em;
    color: #29282E;  
    margin-bottom: 48px;
}
.first-section_title span {
    color: var(--text_bg1);
}
.first-section_text {
    font-weight: 500;
    font-size: 22px;
    line-height: 128.9%;
    color: var(--text_color);
    margin-bottom: 9px;
}
.typing-container {
    display: flex;
    align-items: center;
}
#feature-text {
    font-weight: 700;
    font-size: 39px;
    line-height: 100.9%;
    letter-spacing: -0.03em;
    color: #29282E;
}
.typing-container .input-cursor {
    display: inline-block;
    width: 19px;
    height: 45px;
    background: var(--text_bg1);
    margin-left: 8px;
    animation: blink 0.6s linear infinite alternate;
}
.first-section_img {
    margin-right: 38px;
    width: 796px;
    margin-top: 60px;
    height: 689px;
}




.advantages {
    padding: 75px 0 75px;
}
.block-head {
    margin-bottom: 50px;
}
.block-head .title {
    font-weight: 700;
    font-size: var(--font_size_title);
    line-height: 180%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #29282E;
    margin-bottom: 24px;
}
.block-head .title span {
    display: inline-block;
    color: var(--text_bg1);
    position: relative;
}
.block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line.svg);
    width: 364px;
    height: 19px;
    bottom: -11px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.block-head .text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 128.9%;
    text-align: center;
    color: var(--text_color);
}
.advantages_items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -39px;
    margin-bottom: -39px;
}
.advantages_items > * {
    width: calc(100%/3);
    margin-left: 39px;
    margin-bottom: 39px;
    background: #FFFFFF;
    box-shadow: 8px 12px 64px rgba(121, 121, 121, 0.15);
    border-radius: 43px;
    padding: 40px 60px 40px 43px;
}
.advantages_item:nth-child(3),
.advantages_item:nth-child(4) {
    width: 304px;
    padding: 40px 21px 40px 40px;
}
.advantages_item:nth-child(1) .icon {
    width: 66px;
    height: 51px;
    display: inline-block;
    stroke-width: 0;
}
.advantages_item:nth-child(2) .icon {
    width: 48px;
    height: 53px;
    display: inline-block;
}
.advantages_item:nth-child(3) .icon {
    width: 46px;
    height: 52px;
    display: inline-block;
}
.advantages_item:nth-child(4) .icon {
    width: 51px;
    height: 51px;
    display: inline-block;
}
.advantages_item:nth-child(5) .icon {
    width: 51px;
    height: 51px;
    display: inline-block;
}
.advantages_item:nth-child(6) .icon {
    width: 56px;
    height: 53px;
    display: inline-block;
    stroke-width: 0px;
}
.icon.icon-gradient {
    fill: url(#gradientPrimary1);
    fill: url(#gradientPrimary2);
}
.advantages_item:hover .icon.icon-gradient {
    fill: #fff;
}
.advantages_item:hover {
    background: linear-gradient(264.41deg, #C0E654 1.1%, var(--text_bg1) 100%);
}
.advantages_item-title {
    margin-top: 37px;
    font-weight: 700;
    font-size: 26px;
    line-height: 119.4%;
    letter-spacing: -0.05em;
    color: #29282E;
}
.advantages_item-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 128.9%;
    color: var(--text_color);
    margin-top: 12px;
}
.advantages_item:hover .advantages_item-title {
    color: #43531A;
}
.advantages_item:hover .advantages_item-text {
    color: #536A1B;
}



.numbers {
    padding: 50px 0;
}
.numbers_items {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: -36px;
    margin-bottom: -36px;
}
.numbers_items > * {
    width: calc(100%/4 - 36px);
    margin-left: 36px;
    margin-bottom: 36px;
    padding: 40px 40px 44px;
    background: linear-gradient(264.41deg, #C0E654 1.1%, var(--text_bg1) 100%);
    border-radius: 43px;
}
.numbers_item-top {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 40px;
    line-height: 119.4%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-bottom: 11px;
}
.numbers_item-text {
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 128.9%;
    color: #536A1B;
}
.numbers .block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line.svg);
    width: 170px;
    height: 17px;
    bottom: -11px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}





.steps {
    padding: 75px 0 50px;
}
.steps_items {
    margin-left: -47px;
    margin-bottom: -107px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: -25px;
}
.steps .block-head {
    margin-bottom: 64px;
}
.steps_items > * {
    width: calc(100%/2 - 96px);
    margin-left: 96px;
    margin-bottom: 107px;
    display: flex;
    align-items: start;
}
.steps_item:nth-child(1) {
    position: relative;
}
.steps_item:nth-child(1) .steps_item-indication {
    position: absolute;
    top: -135px;
    right: calc(-100% + 45px);
}
.indication_text {
    position: relative;
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 29px;
    line-height: 128.9%;
    color: var(--text_bg1);
    transform: rotate(-2.49deg);
}
.indication_text:before {
    position: absolute;
    content: "";
    width: 170px;
    height: 101px;
    left: -177px;
    top: 23px;
    background: url(../images/arrow.svg);
    background-size: contain;
    transform: rotate(-22deg);
}
.steps_item-info {
    margin-left: 26px;
    margin-top: 71px;
}
.steps_item-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 119.4%;
    letter-spacing: -0.05em;
    color: #29282E;
    margin-bottom: 16px; 
}
.steps .block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line.svg);
    width: 218px;
    height: 17px;
    bottom: -11px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.steps .block-head .text {
    max-width: 446px;
    text-align: start;
    margin-left: 135px;
}
.steps_item-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 128.9%;
    color: var(--text_color);
}
.steps_item-img {
    position: relative;
    background: #FFFFFF;
    box-shadow: 18px -11px 30px rgba(0, 0, 0, 0.04); 
    border-radius: 21px;   
}
.steps_item-img img {
    border-radius: 21px;
    display: block;
    width: 298px;
    height: 278px;
}
.steps_item-img::before {
    position: absolute;
    content: "";
    width: 328px;
    height: 306px;
    left: -23px;
    bottom: -28px;
    background: linear-gradient(212.58deg, rgba(255, 245, 246, 0.19) 25.65%, #FFF5F6 100%);
    border-radius: 30px;
    z-index: -1;
}
.steps_item-img::after {
    position: absolute;
    content: "";
    width: 287px;
    height: 287px;
    left: -48px;
    bottom: -52px;
    background: linear-gradient(264.41deg, #C0E654 1.1%, var(--text_bg1) 100%);
    border-radius: 50%;
    z-index: -2;
}
.steps_box {
    padding: 25px 67px 25px 25px;
    background: #FFFFFF;
    box-shadow: 8px 12px 64px rgba(121, 121, 121, 0.15);
    border-radius: 43px;
    display: flex;
    align-items: center;
}
.steps_box-img img {
    width: 99px;
    height: 99px;
}
.steps_box-text {
    margin-left: 44px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 128.9%;
    color: var(--text_color);
}
.steps_box-text span {
    color: var(--text_bg1);
}




.examples {
    padding: 82px 0 50px;
}
.examples .block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line.svg);
    width: 156px;
    height: 17px;
    bottom: -11px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.examples_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -50px;
    margin-bottom: -50px;
}
.examples_items > * {
    background: #FFFFFF;
    box-shadow: 8px 12px 64px rgba(121, 121, 121, 0.15);
    border-radius: 43px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: calc(100%/3 - 50px);
}
.examples_item {
    display: flex;
    flex-direction: column;
    height: auto;
    text-decoration: none;
}
.examples_item-info {
    padding: 26px 44px 28px 40px;
}
.examples_item-img {
    width: 100%;
    height: auto; 
    position: relative;   
}
.examples_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
}
.examples_item-img:before {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/play-button.svg);
}
.examples_item-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 119.4%;
    letter-spacing: -0.05em;
    color: #29282E;
    margin-bottom: 15px;
}
.examples_item-text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 128.9%;
    color: var(--text_color);
}
.examples_item-link {
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.examples_item-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    width: 210px;
    height: 46px;
    background: var(--text_bg1);
    border-radius: 41px;
    display: block;
    margin-right: 25px;
    transition: all .4s;
    flex-shrink: 0;
}
.examples_item-link a:hover {
    color: #fff;
    background: #6C8F1A;
}
.indication {
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 29px;
    line-height: 128.9%;
    letter-spacing: -0.035em;
    color: var(--text_bg1);
    transform: rotate(1.02deg);
    padding-left: 170px;
    position: relative;
}
.indication:before {
    position: absolute;
    content: "";
    width: 170px;
    height: 101px;
    left: 0;
    top: -10px;
    background: url(../images/arrow.svg);
    background-size: contain;
}




.director {
    padding: 40px 0 25px;
}
.director .cont {
    display: flex;
    justify-content: space-between;
}
.director_photo {
    width: 675px;
    height: 672px; 
    position: relative;      
}
.director_photo img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;    
}
.director_left-info {
    position: absolute;
    bottom: -27px;
    right: -55px;
    padding: 16px 20px;
    background: #FFFFFF;
    box-shadow: 8px 12px 64px rgba(164, 164, 164, 0.15);
    border-radius: 16px;
}
.director_left-name {
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 21px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
    margin-bottom: 4px;
}
.director_left-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
    opacity: 0.7;
}
.director .block-head .text {
    text-align: start;
    max-width: 539px;
}
.director .block-head .text p {
    margin-bottom: 24px;
}
.director .block-head .text p:last-child {
    margin-bottom: 0px;
}
.director .block-head .title {
    text-align: start;
    line-height: 1;
}
.director .block-head .title span:before {
    display: none;
}
.director_right {
    width: calc(100% - 729px);
    margin-top: 117px;
}
.director-signature {
    margin-top: 34px;
}
.director .block-head {
    margin-bottom: 0px;
}




.registration {
    padding: 0 0 50px;
}
.registration_wrap {    
    background: linear-gradient(264.41deg, #C0E654 1.1%, var(--text_bg1) 100%);
    border-radius: 43px;
    position: relative;
}
.registration .block-head .title {
    margin-bottom: 38px;
}
.registration_img {
    position: absolute;
    bottom: 23px;
    left: 40px;
}
.registration_img img {
    display: block;
}
.registration_info {
    padding: 48px 65px 49px 385px;
}
.registration .title {
    font-weight: 700;
    font-size: var(--font_size_title);
    line-height: 100.9%;
    letter-spacing: -0.03em;
    color: #FFFFFF;  
    text-align: start;
}
.registration .title span {
    color: #536A1B;
}
.registration .title span.line-no::before {
    display: none;
}
.registration .block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line2.svg);
    width: 299px;
    height: 17px;
    bottom: -32px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.registration .text {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 128.9%;
    color: #536A1B;
}
.registration_item-link a {
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    color: #6C8F1A;
    width: 210px;
    height: 46px;
    background: #FFFFFF;
    border-radius: 41px;
    display: block;
    margin-right: 25px;
    transition: all .4s;
    flex-shrink: 0;
}
.registration_item-link a:hover {
    color: #fff;
    background: #6C8F1A;
}
.registration .block-head {
    margin-bottom: 45px;
}
.registration .indication {
    font-family: 'Caveat';
    font-size: 32px;
    line-height: 105%;
    color: #FFFFFF;
    transform: rotate(3.61deg);
    padding-left: 170px;
    position: relative;
    margin-top: -21px;
}
.registration .indication:before {
    position: absolute;
    content: "";
    width: 170px;
    height: 101px;
    left: 0;
    top: -4px;
    background: url(../images/arrow2.svg);
    background-size: contain;
    transform: rotate(-3.61deg);
}
.registration_item-link {
    display: flex;
    align-items: center;
    margin-top: 0px;
}


.registration2 .registration_img {
    right: 15px;
    left: auto;
    bottom: 0px;
}
.registration2 .registration_info {
    padding: 48px 350px 64px 44px;
}
.registration2 .registration_text {
    max-width: 833px;
}
.registration2 .block-head .title {
    margin-bottom: 55px;
}


.registration3 .registration_img {
    left: 16px;
    bottom: 0;
}


footer {
    margin-top: 63px;
    padding: 68px 0 83px;
    background: #212121;
}
.footer_wrap {
    display: flex;
    justify-content: center;
}
.footer_left {
    text-align: end;
    padding-right: 25px;
    border-right: 1px solid #626381;
}
.footer_left a {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, .35);
    transition: all .4s;
    white-space: nowrap;
}
.footer_left a:hover {
    color: #fff;
}
.footer_left-logo {
    margin-bottom: 23px;
}
.footer_right {
    margin-left: 23px;
}
.footer_right a {
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, .35);
    transition: all .4s;
    white-space: nowrap;
}
.footer_right a:hover {
    color: #fff;
}
.footer_right-text {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 26px;
    margin-top: 6px;
}
.footer_copy {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, .35);
    margin-top: 27px;
}


.internship {
    margin-top: 100px;
    margin-bottom: 47px;
}
.internship_box {
    background: #EFF5FB;
    border-radius: 43px;
    padding: 40px 40px 60px;
}
.internship_wrap {
    display: flex;
}
.internship_images {
    width: 429px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;   
}
.internship_image {
    width: 199px;
    height: 199px;
    margin-bottom: 0;
}
.internship_image img {
    width: 100%;
    height: 100%;  
    border-radius: 38px;
    object-fit: cover;  
}
.internship .block-head {
    margin-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 18px;
}
.internship .block-head .title {
    text-align: start;
    line-height: 1;
    max-width: 572px;
    margin-bottom: 34px;
}
.internship .block-head .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 146.4%;
    color: #758481;
    text-align: start;
    max-width: 676px;
}
.internship .block-head .title span:before {
    display: none;
}
.internship_label {
    font-weight: 700;
    font-size: 20px;
    line-height: 46px;
    text-align: center;
    color: #536A1B;
    margin-bottom: 24px;
    background: linear-gradient(264.41deg, #C0E654 1.1%, #9AC731 100%);
    border-radius: 43px;
    width: 99px;
    height: 46px;
}
.benefits_items {
    margin-top: 53px;
    display: flex;
    margin-left: -35px;
    margin-bottom: -46px;
    flex-wrap: wrap;
}
.benefits_items > * {
    width: calc(100%/2 - 35px);
    margin-left: 35px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    padding: 32px 25px;
    background: #FFFFFF;
    border-radius: 40px;
}
.benefits_item-icon {
    width: 93px;
    height: 93px;
}
.benefits_item-info {
    margin-left: 25px;
}
.benefits_item-title {
    font-weight: 700;
    font-size: 24.4099px;
    line-height: 119.4%;
    letter-spacing: -0.05em;
    color: #29282E;
    margin-bottom: 7px;
}
.benefits_item-text {
    font-weight: 400;
    font-size: 16.8992px;
    line-height: 128.9%;
    color: #758481;
}


.reviews {
    padding: 62px 0 175px;
    background: url(../images/reviews_bg.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.reviews::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 419px;
    top: 352px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/reviews_bg2.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.reviews .block-head {
    margin-bottom: 198px;
}
.reviews .block-head .title span:before {
    position: absolute;
    content: "";
    background: url(../images/title-line.svg);
    width: 257px;
    height: 19px;
    bottom: -8px;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.reviews .block-head .text {
    max-width: 1038px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 128.9%;
    text-align: center;
    color: #758481;
}
.swiper-container {
    overflow: hidden;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews_photo {
    margin-bottom: 55px;
    width: 310px;
    height: 310px;
}
.reviews_photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.reviews_name {
    font-weight: 700;
    font-size: 28px;
    line-height: 119.4%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #29282E;
    margin-bottom: 12px;
}
.reviews_post {
    font-weight: 400;
    font-size: 25px;
    line-height: 119.4%;
    text-align: center;
    color: #939394;
    margin-bottom: 19px;
}
.reviews_text {
    font-weight: 400;
    font-size: 20px;
    line-height: 128.9%;
    text-align: center;
    color: #758481;
    margin-top: 33px;
    padding: 0 198px;
}
.swiper-button-prev {
    left: calc(50% - 630px);
    bottom: 210px;
    top: auto;
}
.swiper-button-next {
    right: calc(50% - 630px);
    left: auto;
    bottom: 210px;
    top: auto;
}